.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu{
    display: flex;
    border: 2px solid red;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}